Package: nas-panel-dbgsym
Package-Type: ddeb
Source: nas-panel
Version: 1.1.3
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: Gekomod <zaba141@o2.pl>
Installed-Size: 65
Depends: nas-panel (= 1.1.3)
Section: debug
Priority: optional
Description: debug symbols for nas-panel
Build-Ids: 880290439ac324f7dee32aad948fedcee6991391
