.wake-on-lan[data-v-f9fd292e]{padding:20px}.card-header[data-v-f9fd292e]{display:flex;align-items:center;gap:10px}.card-header h3[data-v-f9fd292e]{margin:0}.add-button[data-v-f9fd292e]{margin-top:15px;width:100%}
